
.sheet {
	transition: opacity 2s ease-in-out;
}

.list-group-card {
	transition: opacity 2s ease-in-out;
}

.list-group-item {
	transition: opacity 2s ease-in-out;
}

.main-content-card {
	transition: opacity 2s ease-in-out;
}

.panel {
	transition: opacity 2s ease-in-out;
}

.card {
	transition: opacity 2s ease-in-out;
}

.bg-white {
	transition: opacity 2s ease-in-out;
}

table {
	transition: opacity 2s ease-in-out;
}

.sheet:hover {
	opacity: 100% !important;
}

.list-group-card:hover {
	opacity: 100% !important;
}

.list-group-item:hover {
	opacity: 100% !important;
}

.main-content-card:hover {
	opacity: 100% !important;
}

.panel:hover {
	opacity: 100% !important;
}

.card:hover {
	opacity: 100% !important;
}

.bg-white:hover {
	opacity: 100% !important;
}

table:hover {
	opacity: 100% !important;
}

.data-set-content-wrapper:hover {
	opacity: 100% !important;
}


