
.sheet {
	transition: opacity 2s ease-in-out;
}

.list-group-card {
	transition: opacity 2s ease-in-out;
}

.list-group-item {
	transition: opacity 2s ease-in-out;
}

.main-content-card {
	transition: opacity 2s ease-in-out;
}

.panel {
	transition: opacity 2s ease-in-out;
}

.card {
	transition: opacity 2s ease-in-out;
}

.bg-white {
	transition: opacity 2s ease-in-out;
}

table {
	transition: opacity 2s ease-in-out;
}

